<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="#">IBM</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="#about"
					th:href="@{/listaClientes}">Cliente</a></li>
				<li class="nav-item"><a class="nav-link" href="#about"
					th:href="@{/listaAsesoresBancarios}">Asesores Bancarios</a></li>	
			</ul>
		</div>
	</nav>

	<div class="container">
		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
        <p><a th:href="@{/form}" class="btn btn-danger btn-xs">crear cliente</a></p>
		<table class="table table-striped table-bordered">
			<thead class="thead-inverse">
				<tr>
					<th>consecutivo</th>
					<th>nombre</th>
					<th>apellido</th>
					<th>email</th>
					<th>fecha</th>
					<th>Editar</th>
					<th>Eliminar</th>
					
				</tr>
			</thead>
			<tbody>
			
	
			
				<tr th:each="cliente:  ${clientes}">
					<td><a class="btn btn-primary btn-xs" 
							th:href="@{/ver/} + ${cliente.idCliente}" th:text="'Ver Tarjetas'" ></a></td>
					
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.direccion}"></td>
					<td th:text="${cliente.ciudad}"></td>
					<td th:text="${cliente.telefono}"></td>
					<td><a class="btn btn-success btn-xs" th:href="@{/form/} + ${cliente.idCliente}" th:text="'editar'"></a></td>
					<td><a class="btn btn-success btn-xs" th:href="@{/eliminar/} + ${cliente.idCliente}" th:text="'eliminar'"></a></td>
				</tr>
			</tbody>

		</table>
		
	</div>
</body>
</html>